# Files to ignore
Code/community_structure/generate_simulator_parameters_community_structure.py
Code/community_structure/.ipynb_checkpoints
Code/community_structure/__pycache__
community_structure/delay/*
community_structure/plots/*
community_structure/signal_fit/*
community_structure/simulated_data/searchlights/*
community_structure/simulated_data/randomise/*
community_structure/simulated_data/node_brain/*
community_structure/simulated_data/nifti/*
Validation/masks/
Validation/plots/
Validation/real_data/
Validation/real_noise_dict/
Validation/searchlights_real_vs_real/
Validation/searchlights_real_vs_sim/
Validation/searchlights_run_vs_run/
Validation/searchlights_sim_vs_sim/
Validation/simulated_data/
Validation/simulated_noise_dict/
Validation/simulated_noise_dict_resample/
Validation/testing_noise_calc/plots/
Validation/simulation_timing.txt
logs/*

# Files to keep
!community_structure/plots/.gitkeep
!community_structure/simulated_data/searchlights/.gitkeep
!community_structure/simulated_data/randomise/.gitkeep
!community_structure/simulated_data/node_brain/.gitkeep
!community_structure/simulated_data/nifti/.gitkeep
!Validation/masks/.gitkeep
!Validation/plots/.gitkeep
!Validation/real_data/.gitkeep
!Validation/real_noise_dict/.gitkeep
!Validation/searchlights_real_vs_real/.gitkeep
!Validation/searchlights_real_vs_sim/.gitkeep
!Validation/searchlights_run_vs_run/.gitkeep
!Validation/searchlights_sim_vs_sim/.gitkeep
!Validation/simulated_data/.gitkeep
!Validation/simulated_noise_dict/.gitkeep
!Validation/simulated_noise_dict_resample/.gitkeep
!Validation/testing_noise_calc/plots/.gitkeep
!logs/.gitkeep
